* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

:root{
--bg-color : rgb(70, 130, 180);
--box-width : 0;
--mouse-width:0;
--positon-x:0;
--position-y:0;


}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  min-height: 500vh;
}


.box-red{
  width: var(--box-width);
  background-color: red;
  height: 20px;
  position: fixed;
}
.titulo{
  position: fixed;
}
.mouse{
  position: fixed;
  top: var(--position-y);
  left: var(--position-x);
  width: 20px;
  height: 20px;
  background-color: orange;
  pointer-events: none;
}
.containerButton{
  display: flex;
 
}
.button1{
  position: fixed;
  top: 60px
}
.button2{
  position: fixed;
  top: 60px;
  left: 200px;
}